---
BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
IndentWidth: 2
QualifierAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 2
