---
BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
IndentWidth: 2
QualifierAlignment: Left
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 2
